:root {
  --terminal-text-color: #39ff14;
  --background-color: #2C001E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #fff;
  font-family: monospace;
  font-size: 1rem;
}

/* Terminal */
.shell {
  box-sizing: margin-box;
  padding: .5rem;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.current-line {
  display: flex;
}

.terminal-input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: #ccc;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

.terminal-text {
  color: var(--terminal-text-color);
}

span.line {
  display: block;
  overflow-wrap: break-word;
}